*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    max-width: 100%;
}

.list a{
    color: white;
}

.list{
    max-width: 100%;
    padding: 35px 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    backdrop-filter: blur(15px);
}

.birinchiv{
    max-width: 100%;
    position: relative;
}

.yozuv{
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    left: 170px;
}

.wat{
    border: 3px solid white;
    color: white;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yozuv1{
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 200vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    left: 170px;
}

.wat1{
    border: 3px solid white;
    color: white;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ikkinnchiv{
    max-width: 1400px;
    position: relative;
}

video{
    max-width: 100%;
}

.main3{
    max-width: 100%;
}

.recent{
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 330vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    left: 170px;
}

.re{
    border: 3px solid white;
    color: white;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main4{
    max-width: 100%;
}

.launch{
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 460vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    left: 170px;
}

.learn{
    border: 3px solid white;
    color: white;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main5{
    max-width: 100%;
}

.advan{
   color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 585vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    left: 170px; 
}

.more{
    border: 3px solid white;
    color: white;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main6{
    max-width: 100%;
}

.life{
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 720vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    left: 170px; 
}

.nooo{
    border: 3px solid white;
    color: white;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box{
    padding: 42px 0 0 0;
    background-color: black;
    max-width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}